
<div id="DEFINENAMEPAGE" layout="ROUNDPAGE">
</div>


<div class="pre-loading">
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
{{!-- Update round --}}
<div class="lo-update-round" style="position: absolute;  position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);width: 50%; height: 100%; z-index: 999999; display: none;">

    <div class="card mb-0">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Cập nhật vòng chơi</h5>

            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="formp-label">Tên Vòng<a style="color: red">*</a></label>
                    <input type="text" class="form-control ud-name-round" id="" aria-describedby="">
                    <div id="emailHelp" class="form-text">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Mô tả nội dung của vòng này<a
                            style="color: red">*</a></label>
                    <textarea type="text" class="form-control up-des-round" id="" aria-describedby=""></textarea>
                    <div id="emailHelp" class="form-text">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label ">Điều kiện chiến thắng<a
                            style="color: red">*</a></label>
                    <textarea type="text" class="form-control up-conditionwin-round" id=""
                        aria-describedby=""></textarea>
                    <div id="emailHelp" class="form-text">
                    </div>
                    <label for="exampleInputEmail1" class="form-label alert-err" style="color: red"></label>
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label ">Điều kiện Cấp độ<a
                            style="color: red">*</a></label>
                    <textarea type="text" class="form-control up-conditionlevel-round" id=""
                        aria-describedby=""></textarea>
                    <div id="emailHelp" class="form-text">
                    </div>
                    <label for="exampleInputEmail1" class="form-label alert-err" style="color: red"></label>
                </div>
                <button type="button" class="btn btn-primary btn-update-round">Cập nhật</button>
            </form>
        </div>
    </div>
</div>
<div class="row">
    {{!-- table of all round --}}
    <div class="col-lg-12 d-flex align-items-stretch">
        <div class="card w-100">
            <div class="card-body p-4">
                <h5 class="card-title fw-semibold mb-4">Thông tin vòng chơi</h5>
                <div class="table-responsive">
                    <table class="table text-nowrap mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Tên vòng chơi</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Mô tả vòng chơi</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Điều kiện chiến thắng</h6>
                                </th>
                                <th class="border-bottom-0">
                                    <h6 class="fw-semibold mb-0">Điều kiện cấp độ</h6>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="body-round">
                            {{!-- body of question --}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- form to add question --}}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Thêm thông tin vòng chơi</h5>
            <div class="card">
                <div class="card-body">
                    <form>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Nội dung của vòng chơi<a
                                    style="color: red;">*</a></label>
                            <input type="text" class="form-control add-name-round" id="" aria-describedby="">
                            <div id="emailHelp" class="form-text">

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Mô tả vòng chơi<a
                                    style="color: red;">*</a></label>
                            <textarea class="form-control add-des-round" id="exampleInputPassword1"
                                style="height: 100px;"></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Điều kiện để chiến thắng<a
                                    style="color: red;">*</a></label>
                            <textarea type="text" class="form-control add-condition-win" id=""
                                aria-describedby=""></textarea>
                            <div id="emailHelp" class="form-text">

                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Điều kiện về cấp độ<a
                                    style="color: red;">*</a></label>
                            <input type="text" class="form-control add-condition-level" id="" aria-describedby="">
                            <div id="emailHelp" class="form-text">

                            </div>
                        </div>
                        <button type="button" class="btn btn-primary btn-add-round">Thêm</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>